html {
  font-family: 'verdana', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 300px;
}

h3 {
  margin-top: 0;
  font-size: 1.8rem;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

/*legend qualities*/
#legend {
  width: 300px;
}

.legend label, .legend span {
  display: block;
  float: right;
  height: 15px;
  width: 20%;
  text-align: center;
  font-size: 9px;
  color: #808080;
}

#feature-info {
  background: #ea3c53;
  padding: 15px;
  min-height: 150px;
}

/* sidebar is fixed with and positioned to the left */
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #ee204d;
  color: #FFF;
  padding: 25px;
  box-sizing: border-box;
}
